extends ../templates/layout.jade
block main-content
	section.content.container.contriner-fluid(ng-app="home" ng-controller="home")
		section(id="garden",class="cols")
		h2(class="garden-heading") Top products	
			section.product-holder.col-md-6
				section.product(ng-repeat="product in model.take(3)")
					h2.heading {{product.name}}
					div.description
						img(ng-src="/img/{{product.img}}" alt="a plant")
						p
							| {{product.shortDescription}}
					div.price-box
						div.price
							span.currency $
								| 123.34
						button(type="submit" class="btn btn-primary") Add to cart
			section.product-holder.col-md-6
				section.product(ng-repeat="product in model.skipTake(3, 3)")
					h2.heading {{product.name}}
					div.description
						img(ng-src="/img/{{product.img}}" alt="a plant")
						p
							| {{product.shortDescription}}
					div.price-box
						div.price
							span.currency $
								| 123.34
						button(type="submit" class="btn btn-primary") Add to cart
block scripts	
	script(type="text/javascript", src="app/js/controller/homecontroller.js")
	script(type="text/javascript", src="app/js/services/productService.js")